  <div class="row">
<h1>actions</h1>
 
<table>
    <tr>
        <td>Type</td>
        <td>Price</td>
        <td>When</td>
    </tr>
    {{#each actions}}
    <tr>
        <td>{{type}}</td>
        <td>{{cost}}</td>
        <td>{{time}}</td>
    </tr>

    {{/each}}
</table>
</div>